ul.breadcrumb {
    padding: 10px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 11px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li .link-a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li .link-a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* -----++++++++++++######   media query TABLET resolution [ 500 ]  ######++++++++++++-----*/
@media (min-width: 500px) {
    ul.breadcrumb li {
        font-size: 15px;
    }
}


/* -----++++++++++++######   media query DESKTOP resolution [   1200   ]  ######++++++++++++-----*/
@media (min-width: 1200px) {
    ul.breadcrumb li {
        font-size: 18px;
    }
}