.Publications-title {
    color: var(--color-two);
    margin: 20px;
    font-size: 3rem;
    text-align: center;
}
.posts-container{
    background-color: black;
    padding: 20px;
}

/* -----++++++++++++######   media query TABLET resolution [ 500 ]  ######++++++++++++-----*/
@media (min-width: 500px) {
    .posts-container{
        padding: 40px 30px;
    }
}

/* -----++++++++++++######   media query DESKTOP resolution [   1200   ]  ######++++++++++++-----*/
@media (min-width: 1200px) {
    .posts-container{
        padding: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}