.header-publications{
    padding: 0px 20px;
}
.Publications-title {
    color: var(--color-two);
    margin: 20px;
    font-size: 2.5rem;
    text-align: center;
}
.posts-container{
    background-color: black;
    padding: 20px;
}
.box-publi-loading{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.publi-loading{
    width: 50px;
}
/* -----++++++++++++######   media query TABLET resolution [ 500 ]  ######++++++++++++-----*/
@media (min-width: 500px) {
    .header-publications{
        padding: 0px 30px;
    }
    .posts-container{
        padding: 40px 30px;
    }
    .Publications-title {
        margin: 50px 20px;
        font-size: 3rem;
    }
}

/* -----++++++++++++######   media query DESKTOP resolution [   1200   ]  ######++++++++++++-----*/
@media (min-width: 1200px) {
    .header-publications{
        padding: 0px 60px;
    }
    .posts-container{
        padding: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}