.post{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 0px;
    margin-bottom: 9px;
    width: 100%;

    -webkit-box-shadow: 0px 15px 14px -14px rgba(76,201,240,0.93);
    -moz-box-shadow: 0px 15px 14px -14px rgba(76,201,240,0.93);
    box-shadow: 0px 15px 14px -14px rgba(76,201,240,0.93);
}
.post .post-id{
    font-size: 0.9rem;
    display: block;
    width: 130px;
    color: var(--color-one);
}
.post-info-box .post-title{
    font-size: 0.8rem;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--color-ten);
}
.post-info-box .post-description{
    font-size: 0.6rem;
    color: var(--color-ten);
}
.detail-btn-box{
    padding-left: 1px;
    text-align: right;
    color: var(--color-one);
}
.detail-btn-box .see-post-detail{
    text-decoration: none;
    color: unset;
}
.detail-btn-box .see-post-detail:visited{
    text-decoration: none;
    color: unset;
}

/* -----++++++++++++######   media query TABLET resolution [ 500 ]  ######++++++++++++-----*/
@media (min-width: 500px) {
    .post{ 
        padding: 15px 0px;
    }
    .post .post-id{
        font-size: 1.2rem;
        width: 170px;
    }
    .post-info-box .post-title{
        font-size: 1.1rem;
    }
    .post-info-box .post-description{
        font-size: 0.9rem;
    }
    .detail-btn-box{
        width: 180px;
        padding-left: 3px;
        margin-left: auto;
        margin-right: 10px;
    }
    .detail-btn-box .see-post-detail{
        font-size: 1.1rem;
        text-align: right;
    }
    .detail-btn-box .see-post-detail::before{
        content: "detail ";
    }
}

/* -----++++++++++++######   media query DESKTOP resolution [   1200   ]  ######++++++++++++-----*/
@media (min-width: 1200px) {
    .post{
        max-width: 1280px;
    }
    .post .post-id{
        font-size: 1.3rem;

        width: 170px;
    }
    .post-info-box .post-title{
        font-size: 1.3rem;
    }
    .post-info-box .post-description{
        font-size: 1.1rem;
    }
    .detail-btn-box{
        width: 180px;
        padding-left: 3px;
        margin-right: 15px;
    }
    .detail-btn-box .see-post-detail{
        font-size: 1.2rem;
    }
    .detail-btn-box .see-post-detail::before{
        content: "see detail ";
    }
}