* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    --color-one: #f72585;
    --color-two: #b5179e;
    --color-three: #7209b7;
    --color-four: #560bad;
    --color-five: #480ca8;
    --color-six: #3a0ca3;
    --color-seven: #3f37c9;
    --color-eight: #4361ee;
    --color-nine: #4895ef;
    --color-ten: #4cc9f0;

    /* thin-100, regular-400, medium-600, bold-800 */
    /* --font: 'Noto Sans Mono', monospace; */
}
