@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    --color-one: #f72585;
    --color-two: #b5179e;
    --color-three: #7209b7;
    --color-four: #560bad;
    --color-five: #480ca8;
    --color-six: #3a0ca3;
    --color-seven: #3f37c9;
    --color-eight: #4361ee;
    --color-nine: #4895ef;
    --color-ten: #4cc9f0;


    font-family: 'Roboto', sans-serif;

}

